@charset "UTF-8";

#wrap {
    width: 1000px; 
    height: 1200px;
    margin:0;
    margin-left : auto;
    margin-right : auto;

}

#wrapup {
    width: 1000px; 
    height: 800px;
    margin:0;
    margin-left : auto;
    margin-right : auto;

}

#wrapwrite {
    width: 800px; 
    height: 800px;
    margin:0;
    margin-left : auto;
    margin-right : auto;

}

h1 { color: black;} 
table { width:100%; border-collapse:collapse; font-size:12px; line-height:24px; }

table td, th { border : #d3d3d3 solid 1px; padding: 5px; }

th { background: #33afe9;}
.list img{ width:200px; height:260px;}
a {text-decoration: none; color:black;}
a:hover {text-decoration:underline; color:green;}

.product {
	width: 245px;
	height: 400px;
	position: relative;
	border: 1px solid lightgrey;
	display: inline-block;
	float: left;
}

.write {
	width: 80px;
	height: 30px;
	background-color: #33afe9;
	float: right;
	border: 2px solid  #33afe9;
	border-radius: 15px;
	margin-top: -20px;
	margin-left: 900px;
	position: absolute;	
	text-align: center;
	line-height: 30px;
}

.write a {
	color: white;	
}

.buttonst input{
	width: 80px;
	height: 30px;
	background-color: white;
	float: right;
	border: 2px solid  #33afe9;
	border-radius: 5px;		
	text-align: center;
	line-height: 30px;	
}

.buttonst input:hover {
    background-color: #33afe9; 
    border-radius: 5px; 
}